body {
	color: #376ef9;
}

h1 {
	text-align: center;
}

table#table-utilisateurs {
	position: relative;
	left: 50%;
	
	width: 70%;
	
	margin-left: -35%;
	
	border: 1px solid #376ef9;
	border-collapse: collapse;
}

td.cellule {
	text-align: center;
	border: 1px solid #376ef9;
	
	cursor: pointer;
}

div#info {
	text-align: center;
	font-size: 8pt;
}

div#erreur {
	color: #F00;
	text-align: center;
	font-weight: bold;
}